.DialogChangePassword-Container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.changePassword {
  margin-top: 20px;
}
.changePassword-Content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.changePassword-Content input {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.changePassword-Content label {
  display: block;
}
.PasswordUpdate :nth-child(2) {
  color: white;
  background: #ca0101;
  gap: 20px;
}
.PasswordUpdate {
  border-radius: 12px;
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
}
.PasswordUpdate button {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
